<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Comercial</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<body>
	<div class="container">
		<div class="row mt-4">
			<div class="col col-md-12">
				<h1>Comercial</h1>
			</div>
			<div class="col col-md-12">
				<form action="/comercial/crear">
					<input type="submit" class="btn btn-success" value="Crear">
				</form>
			</div>	
		</div>
		<hr/>
		<div class="row">
			<div class="col col-md-2" th:text=#{id}></div>
			<div class="col col-md-2" th:text=#{nombre}></div>
			<div class="col col-md-2" th:text=#{ape1}></div>
			<div class="col col-md-2" th:text=#{ape2}></div>
			<div class="col col-md-2" th:text=#{comision}></div>
			<div class="col col-md-2" th:text=#{accion}></div>
		</div>
		<hr/>

		<div th:each="comercial : ${listaComerciales}" class="row">
			<div class="col col-md-2" th:text="${comercial.id}">0</div>
			<div class="col col-md-2" th:text="${comercial.nombre}">Nombre</div>
			<div class="col col-md-2" th:text="${comercial.apellido1}">Apellido1</div>
			<div class="col col-md-2" th:text="${comercial.apellido2 ?: '&nbsp;'}">Apellido2</div>
			<div class="col col-md-2" th:text="${comercial.comision}">Comisión</div>
			<div class="col col-md-2">
				<form th:action="@{/comercial/__${comercial.id}__}" class="float-start">
    				<input type="submit" value="Ver Detalle" />
				</form>
				<form th:action="@{/comercial/editar/}+${comercial.id} " class="float-start">
    				<input type="submit" value="Editar" />
				</form>
				<form th:action="@{/comercial/borrar/__${comercial.id}__}" method="post" class="float-start">					
    				<input type="submit" value="Eliminar" />
				</form>
			</div>
		</div>
	</div>
</body>
</body>
</html>