<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Comercial</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>
<body>

	<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1>Comercial</h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/comercial/crear">
							<input type="submit" value="Crear">
						</form>
					</div>
				
			</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		<div class="clearfix">
			<div style="float: left;width: 15%" th:text=#{id}></div>
			<div style="float: left;width: 15%" th:text=#{nombre}></div>
			<div style="float: left;width: 15%" th:text=#{ape1}></div>
			<div style="float: left;width: 15%" th:text=#{ape2}></div>
			<div style="float: left;width: 15%" th:text=#{comision}></div>
			<div style="float: none;width: auto;overflow: hidden;" th:text=#{accion}></div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>

		<div  th:each="comercial : ${listaComerciales}" style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 14%" th:text="${comercial.id}">0</div>
			<div style="float: left;width: 14%" th:text="${comercial.nombre}">Nombre</div>
			<div style="float: left;width: 14%" th:text="${comercial.apellido1}">Apellido1</div>
			<div style="float: left;width: 14%" th:text="${comercial.apellido2 ?: '&nbsp;'}">Apellido2</div>
			<div style="float: left;width: 14%" th:text="${comercial.comision}">Comisión</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<form th:action="@{/comercial/__${comercial.id}__}" style="display: inline;">
    				<input type="submit" value="#{detalle}" />
				</form>
				<form th:action="@{/comercial/editar/}+${comercial.id} " style="display: inline;">
    				<input type="submit" value="#{editar}" />
				</form>
				<form th:action="@{/comercial/borrar/__${comercial.id}__}" method="post" style="display: inline;">					
    				<input type="submit" value="@#{borrar}" />
				</form>
			</div>
		</div>
	</div>
</body>
</body>
</html>