<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Comercial</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<style>
.error {
	color: red;
}

</style>
</head>
<body>
<body>

	<div class="container">
		<div class="row mt-4">
			<div class="col col-md-12">
				<h1 th:text=#{newcom}></h1>
			</div>
			
			<div class="col col-md-12">
				<form action="/comercial" >
					<input type="submit" class="btn btn-success" value="Volver" />
				</form>
			</div>
		</div>
		
		<hr/>
		
		<div class="row">
			<form th:action="@{/comercial/crear}" th:object="${comercial}" th:method="post">
				<div class="col col-md-2 d-flex flex-row">
					<div th:text=#{nombre}>
					</div>
					<div class="ms-3">
						<input th:field="*{nombre}" />
						<ul th:if="${#fields.hasErrors('nombre')}">
        			     	<li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error" />
    			     	</ul>
					</div> 
				</div>
				<div class="col col-md-2 d-flex flex-row">
					<div th:text=#{ape1}>
					</div>
					<div class="ms-3">
						<input th:field="*{apellido1}" />
						<ul th:if="${#fields.hasErrors('apellido1')}">
        			     	<li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error" />
    			     	</ul>
					</div> 
				</div>
				
				<div class="col col-md-2 d-flex flex-start">
					<div th:text=#{ape2}>
					</div>
					<div class="ms-3">
						<input th:field="*{apellido2}" />
						<ul th:if="${#fields.hasErrors('apellido2')}">
        			     	<li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error" />
    			    	</ul>
					</div> 
				</div>
				
				<div class="col col-md-2 d-flex flex-start">
					<div th:text=#{comision}>
					</div>
					<div class="ms-3">
						<input th:field="*{comision}" />
						<ul th:if="${#fields.hasErrors('comision')}">
        			     	<li th:each="err : ${#fields.errors('comision')}" th:text="${err}" class="error" />
    			     	</ul>
					</div>
				</div>
				<input type="submit" value="Crear" />
			</form>
		</div>
		<hr/>
	</div>
</body>
</body>
</html>