<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Comercial</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>
<body>

	<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text=#{detcom}></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/comercial" >
							<input type="submit" value="Volver" />
						</form>
					</div>
				
			</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		<div class="clearfix">
				<div style="float: left;width: 25%" th:text=#{id}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${comercial.id}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{nombre}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${comercial.nombre}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape1}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${comercial.apellido1}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape2}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${comercial.apellido2}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{comision}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${comercial.comision}" readonly="readonly" />
				</div> 
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		
		<div class="clearfix">
			<div th:each="stat : ${listaStats}" style="margin-top: 6px;" class="clearfix">
					<div style="float: left;width: 14%" th:text=#{totalped}></div>
				<div style="float: left;width: 14%" th:text="${stat.suma}"></div>
				<div style="float: left;width: 14%" th:text=#{mediaped}></div>
				<div style="float: left;width: 14%" th:text="${stat.media}"></div>
				<div style="float: none;width: auto;overflow: hidden;">
			</div>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>
		
		<div class="clearfix">
			<div style="float: left;width: 15%" th:text=#{id}></div>
			<div style="float: left;width: 15%" th:text=#{precio}></div>
			<div style="float: left;width: 15%" th:text=#{fecha}></div>
			<div style="float: left;width: 15%" th:text=#{nombre}></div>
			<div style="float: left;width: 15%" th:text=#{ape1}></div>
			<div style="float: left;width: auto" th:text=#{ape2}></div>
		</div>
		<div class="clearfix">
			<div th:each="stat : ${listaStats}" style="margin-top: 6px;" class="clearfix">
				<div th:each="sMin : ${listaStatMin}" style="margin-top: 6px;" class="clearfix">
					<div th:each="sMax : ${listaStatMax}" style="margin-top: 6px;" class="clearfix">
						<div th:each="pedido : ${listaPedidos}" style="margin-top: 6px;" class="clearfix">
							<th:block th:if="${pedido.id} == ${sMax.id}">
								<div style="float: left;width: 15%;background-color: green;" th:text="${pedido.id}">ID</div>
								<div style="float: left;width: 15%;background-color: green;" th:text="${pedido.total}">Total</div>
								<div style="float: left;width: 15%;background-color: green;" th:text="${pedido.fecha}">Fecha</div>
								<a th:href="@{/clientes/__${pedido.idCliente}__}"><div style="float: left;width: 15%;background-color: green;" th:text="${pedido.nombreCliente}">Fech</div></a>
								<div style="float: left;width: 15%;background-color: green;" th:text="${pedido.ape1Cliente}">Fec</div>
								<div style="float: left;width: 15%;background-color: green;" th:text="${pedido.ape2Cliente}">Fe</div>
								<div style="float: none;width: auto;overflow: hidden;"></div>
							</th:block>
							<th:block th:if="${pedido.id} == ${sMin.id}">
								<div style="float: left;width: 15%;background-color: yellow;" th:text="${pedido.id}">ID</div>
								<div style="float: left;width: 15%;background-color: yellow" th:text="${pedido.total}">Total</div>
								<div style="float: left;width: 15%;background-color: yellow" th:text="${pedido.fecha}">Fecha</div>
								<a th:href="@{/clientes/__${pedido.idCliente}__}"><div style="float: left;width: 15%;background-color: yellow" th:text="${pedido.nombreCliente}">Fech</div></a>
								<div style="float: left;width: 15%;background-color: yellow" th:text="${pedido.ape1Cliente}">Fec</div>
								<div style="float: left;width: 15%;background-color: yellow" th:text="${pedido.ape2Cliente}">Fe</div>
								<div style="float: none;width: auto;overflow: hidden;"></div>
							</th:block>
							<th:block th:if="${pedido.id} != ${sMax.id}">
								<th:block th:if="${pedido.id} != ${sMin.id}">
									<div style="float: left;width: 15%" th:text="${pedido.id}">ID</div>
									<div style="float: left;width: 15%" th:text="${pedido.total}">Total</div>
									<div style="float: left;width: 15%" th:text="${pedido.fecha}">Fecha</div>
									<a th:href="@{/clientes/__${pedido.idCliente}__}"><div style="float: left;width: 15%" th:text="${pedido.nombreCliente}">Fech</div></a>
									<div style="float: left;width: 15%" th:text="${pedido.ape1Cliente}">Fec</div>
									<div style="float: left;width: 15%" th:text="${pedido.ape2Cliente}">Fe</div>
									<div style="float: none;width: auto;overflow: hidden;"></div>
								</th:block>
							</th:block>
						</div>
					</div>
			</div>
		</div>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>
		
		<div class="clearfix">
			<div style="float: left;width: 15%" th:text=#{id}></div>
			<div style="float: left;width: 15%" th:text=#{nombre}></div>
			<div style="float: left;width: 15%" th:text=#{ape1}></div>
			<div style="float: left;width: 15%" th:text=#{ape2}></div>
			<div style="float: left;width: 15%" th:text=#{ciudad}></div>
			<div style="float: left;width: auto" th:text=#{categoria}></div>
		</div>
		
		<div class="clearfix">
			<div th:each="cli : ${listaStatCli}" style="margin-top: 6px;" class="clearfix">
				<div style="float: left;width: 15%;" th:text="${cli.id}">ID</div>
				<div style="float: left;width: 15%;" th:text="${cli.nombre}">Total</div>
				<div style="float: left;width: 15%;" th:text="${cli.apellido1}">Fecha</div>
				<div style="float: left;width: 15%;" th:text="${cli.apellido2}">Fech</div></a>
				<div style="float: left;width: 15%;" th:text="${cli.ciudad}">Fec</div>
				<div style="float: left;width: 15%;" th:text="${cli.categoria}">Fe</div>
				<div style="float: none;width: auto;overflow: hidden;"></div>
		</div>
		</div>
		
	</div>
</body>
</body>
</html>