<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>
<body>

	<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text=#{detcli}></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/clientes" >
							<input type="submit" value="Volver" />
						</form>
					</div>
				
			</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		<div class="clearfix">
				<div style="float: left;width: 25%" th:text=#{id}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.id}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{nombre}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.nombre}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape1}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.apellido1}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape2}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.apellido2}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{ciudad}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.ciudad}" readonly="readonly" />
				</div> 
				<div style="float: left;width: 25%" th:text=#{categoria}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="${cliente.categoria}" readonly="readonly" />
				</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		
		<div class="row">
			<div class="col" th:text=#{totalped}></div>
			<div class="col" th:text="${pedidosTot}"></div>
			<div class="col" th:text=#{triped}></div>
			<div class="col" th:text="${pedidosTri}"></div>
			<div class="col" th:text=#{semped}></div>
			<div class="col" th:text="${pedidosSem}"></div>
			<div class="col" th:text=#{anuped}></div>
			<div class="col" th:text="${pedidosAnu}"></div>
			<div class="col" th:text=#{lusped}></div>
			<div class="col" th:text="${pedidosLus}"></div>
		</div>
	</div>
</body>
</body>
</html>