<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>
<body>

	<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text=#{editcli}></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
			</div>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
		<div class="clearfix">
			<form th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" th:method="post">
				<div style="float: left;width: 25%" th:text=#{nombre}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="*{nombre}" />
					<ul th:if="${#fields.hasErrors('nombre')}">
        			     <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error" />
    			     </ul>
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape1}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="*{apellido1}" />
					<ul th:if="${#fields.hasErrors('apellido1')}">
        			     <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error" />
    			     </ul>
				</div> 
				<div style="float: left;width: 25%" th:text=#{ape2}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="*{apellido2}" />
					<ul th:if="${#fields.hasErrors('apellido2')}">
        			     <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" class="error" />
    			     </ul>
				</div> 
				<div style="float: left;width: 25%" th:text=#{ciudad}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="*{ciudad}" />
					<ul th:if="${#fields.hasErrors('ciudad')}">
        			     <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" class="error" />
    			     </ul>
				</div> 
				<div style="float: left;width: 25%" th:text=#{categoria}>
				</div>
				<div style="float: none;width: auto;overflow: hidden;">
					<input th:field="*{categoria}" />
					<ul th:if="${#fields.hasErrors('categoria')}">
        			     <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="error" />
    			     </ul>
				</div> 
				<input type="submit" value="Editar" />
			</form>
		</div>
		<div class="clearfix">
			<hr/>
		</div>
	</div>
</body>
</body>
</html>